<!DOCTYPE html>
<html ng-app="ShoppingListApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List</title>
    <script type="text/javascript"src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body ng-controller="ListController">
    <h1>Examle #1</h1>
    <h1>with angular Mikey</h1>
    <hr>
    <h3>My Shopping List</h3>
    <h4>So far<big>{{list.length}}</big>item</h4>

    <table>
        <tr ng-repeat = "item in list">
            <td>{{$index + 1}}</td>
            <td>{{item}}</td>
            <td><button class="btn btn-danger" ng-click="remove(item)">X</button></td>
        </tr>
    </table>
    <hr>
  <input type="text" ng-model="newItem">
  <button class="btn btn-success" ng=click="addItem(newItem)">Add</button> 
</body>
</html>